<!DOCTYPE html>
<html>
  <head>
      <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
      <script type="text/javascript" src="https://d3js.org/d3-color.v1.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  </head>
  <body>
      <div id=context markdown="1">
          ## Changes with this iteration:
          - [x] Making this type script oriented ...
          - [x] Hexagon within circle ...
            - [x] Rotate hexagonWithinCircle
          - [x] Points on circle(6, shift)
          ## Changes to make ...
          - [ ] Make a build server to build this?!
            - [ ] Have on my personal dashboard
                - [ ] ... how many different builds there are ...
                - [ ] How many releases I ahve ...
                - [ ] What is currently deployed ...
                - [ ] How much it cost me ...
            - [ ] Tie website builds to github releases ...
          - [ ] Add a "grid" class that knowns what elements "contain" other elements ... and what elemets "surround other elements ..."
          - [ ] Add the following methods
              - [ ] Make Polar Slices Method
              - [ ] Make Verticle Slices Method
              - [ ] Make Horizontal Slices Method
              - [ ] Connect Midpoints of two different circles ...
              - [ ] connect points into lines ...
              - [ ] Octagon within circle ...
          - [ ] Make a lines class ...
              - [ ] Extend Line ...
      </div>
      <!--  Script Section   -->
      <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-markdown-extra@1.2.4/js-markdown-extra.min.js"></script>
      <script type="text/javascript">
       document.getElementById('context').innerHTML =
           marked(document.getElementById('context').innerHTML);
      </script>
      <!-- The above should be placed in the body section since it edits body content ...
           https://stackoverflow.com/questions/38407962/when-to-use-the-script-tag-in-the-head-and-body-section-of-a-html-page?noredirect=1&lq=1
           ... it didnt work when it was in head!
       -->
  </body>
</html>
